a{
    text-decoration: none;
    display: inline-block;
}

h1{
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
}

h3{
    color: #2A3246;
font-family: Poppins;
font-size: 30px;
font-style: normal;
font-weight: 600;
line-height: 80px; /* 266.667% */
}

h4{
    color: #263238;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px; /* 218.182% */
}

h6{
    color: #8F95A5;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.text{
    color: #8F95A5;
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.center{
    display: flex;
    justify-content: center;
}

.flex {
    display: flex;
}
.sb{
    justify-content: space-between;
}

.big-title{
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 64px; /* 133.333% */
}
.title{
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; /* 222.222% */
}

body{
    font-family: Poppins;
}

.container {
    min-height:100%;
   position:relative;
    max-width: 980px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__block{
    align-items: center;
    justify-content: space-between;
    margin-top: 25px;
}

.header__menu{
    gap: 50px;
}

.header__logo {
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.header__logo_grey {
    color: #939393;;
}

.header__link {
    color: #263238;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.header__btn a{
    text-decoration: none;
}
.header__btn a{
    
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid #263238;
    color: #000;
    padding: 12px 40px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__btn :hover{
    color: #FFF;
    background: #263238;

}

.first-screen__block{
    justify-content: space-between;
    margin: 68px 0;
}

.first-screen__title{
    position: relative;
}


.first-screen__title h1{
    width: 290px;
    word-wrap: break-word;
}

.first-screen__text-content p{
    width: 420px;
    margin: 27px 0 33px;
    word-wrap: break-word;
    color: #8F95A5;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.first-screen__title img{

    padding: 90px 0 0 12px;

}

.first-screen__button a{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    color: #FFF;
    padding: 22px 80px;
    border-radius: 5px;
    border: 2px solid#263238;
    background: #263238;
}
.first-screen__button a:hover{
    color:#263238;
    background: #FFF;
    border: 2px solid#263238;
    border-radius: 5px;
}

.skills__content{
    display: flex;
    justify-content: center;
}

.skills__card-title{
    color: #263238;
    font-family: Poppins;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 80px; /* 363.636% */
}

.skills__card{
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background: #F5F5F5;
    padding: 30px;
}

.skills__left{
    width: 33.3%;
}

.img_size{
    height: 205px;
    width: 205px;
}
.skills__card p{
    word-wrap: break-word;
    color: #8F95A5;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}
.skills__right-top-cards p {
    width: 258px;
}

.skills__left p{
    width: 262px;
}
.skills__card-btn{
    
    color: #FFF;
    border-radius: 5px;
    background: #263238;
    padding: 18px 42px;
}

.skills__right{
    flex-direction: column;
    margin-left: 13px;
}

.skills__right-top-cards{
gap: 13px;
margin-bottom: 13px;
}

.skills__bottom-card{
    gap: 30px;
    border-radius: 10px;
    background: #F5F5F5;
}
.skills__bottom-card p{
    width: 293px;
}

.about-us__card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-us_left-side p{
    width: 635px;
    word-wrap: break-word;
    margin: 13px 0 80px;
}
.about-us__title{
    margin-top: 106px;
    justify-content: space-between;
}

.about-us_right-side img{
    position: relative;
    bottom: -103px;
}
.pricing__price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 205px;
    height: 45px;
    border-radius: 5px;
    background: #EEE;
    margin: auto;

    position: absolute;
    bottom: 0px;

}

.pricing{
    height: 550px;
}

.pricing__price p{
    color: #546269;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pricing_card h6{
    width: 295px;
    word-wrap: break-word;
    margin: 14px 0 30px;
}

.prici_title{
    margin: 100px 0 10px;
}

.pricing__price-numbers{
    color: #263238;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.card-2{
padding-top: 27px;
}

.card-3{
    margin-top: -20px;
}

.contact_us{
    margin-top: 136px;
}

.contact_us__img{
margin-right: 109px;
}

.contact_us p{
    color: #8F95A5;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 3px 0 34px;
}

.contact_us__email{
    width: 323px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #8F95A5;
}

.contact_us__submit{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 193px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #263238;
}

.contact_us__submit:hover{
color: #263238;
background-color: #FFF;
}

.footer{

}

.footer__line{
    margin-top: 157px;
    width: 929px;
    height: 1px;
    background: #C4C4C4;
}


.footer__bottom{
    
    align-items: center;
}

.footer__bottom a{
    text-decoration: none;
    color: #8F95A5;

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.footer__bottom a:hover{
color: #000;
}

.footer__bottom p{
    color: #8F95A5;

    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}